/*ImportUniversalStyle From GattaiGames*/
@import url('https://www.gattaigames.com/style_gattai.css');
/*
body
{
	background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url(images/bg.gif) no-repeat center center fixed;
	background-size: cover;
	background-color: black;
	color: white;
}
*/
/*
.fullscreen-container{
	position: absolute;
	top: 0%;
	left: -50%;
	width: 200%;
	height: 100%;
}
*/

.fullscreen-container
{
	position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}

.fullscreen-bg {
	margin: auto;
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  min-width: 100%;
	min-height: 100%;
  height: auto;
}

#logoDIV
{
	margin: auto 3em -1em auto;
	width: 100%;
	max-width: 200px;
	background-color: transparent;
}

#logo {
	position:relative;
	background: url(images/logo_abc_mini.png) no-repeat center;
	background-size: 100%;
	padding-bottom:10em;
	padding-top:60px;
	overflow:hidden;
}

.tagline
{
	font-family: 'OrkneyBold';
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

#steamDIV
{
	margin: 1em auto 1em auto;
	width: 95%;
	max-width: 670px;
	background-color: transparent;
}

.steam-container {
	position:relative;
	padding-bottom:10.5em;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.steam-container iframe, .steam-container object, .steam-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#itchDIV
{
	margin: 2em auto 0 auto;
	width: 100%;
	max-width: 640px;
}

.itch-container {
	position:relative;
	padding-bottom:35%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.itch-container iframe, .itch-container object, .itch-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: !important yellow;
}

.itch-container widget_container
{
	background-color: !important yellow;
}

#videoDIV
{
	margin: 0 auto 0 auto;
	width: 100%;
	max-width: 860px;
	background-color: transparent;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#textDIV
{
	margin: 2em auto 0 auto;
	width: 100%;
	max-width: 860px;
	background-color: transparent;
}

.readingtext
{
	padding: 0;
	font-size:1em;
}

.socialarea
{
	padding: 0 0 2em 0;
	text-align: center;
}

.aligncenter
{
	font-size:1em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 auto 0 auto;
	text-align: center;
	color: white;
	width: 100%;
}

#social
{
	margin-top: 0;
	width: 32px;
	height: auto;
}

#social a:hover
{
	margin-top: 5px;
	width: 32px;
	height: auto;
}

a
{
	color: #1fe7ce;
	text-decoration: none;
}

a:visited
{
	color: #1fe7ce;
	text-decoration: none;
}

a:hover
{
	color: #1fe7ce;
	text-decoration: underline;
}
